In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
unemployed_men_df = pd.read_excel('Resources/unemployment_data_demographics.xlsx', skiprows = [0,1,2,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93])
unemployed_men_df

,Sex and year,Civilian\nnoninsti-\ntutional\npopulation,Civilian labor force,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Not\nin\nlabor\nforce
0,NaN,NaN,Total,Percent of\npopulation,Employed,NaN,NaN,NaN,Unemployed,NaN,NaN
1,NaN,NaN,NaN,NaN,Total,Percent of\npopulation,Agri-\nculture,Nonagri-\ncultural\nindustries,Number,Percent of labor force,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1982,81523.0,62450,76.6,56271,69,2736,53534,6179,9.9,19073.0
5,1983,82531.0,63047,76.4,56787,68.8,2704,54083,6260,9.9,19484.0
6,1984,83605.0,63835,76.4,59091,70.7,2668,56423,4744,7.4,19771.0
7,1985,84469.0,64411,76.3,59891,70.9,2535,57356,4521,7,20058.0
8,1986,85798.0,65422,76.3,60892,71,2511,58381,4530,6.9,20376.0
9,1987,86899.0,66207,76.2,62107,71.5,2543,59564,4101,6.2,20692.0
10,1988,87857.0,66927,76.2,63273,72,2493,60780,3655,5.5,20930.0
11,1989,88762.0,67840,76.4,64315,72.5,2513,61802,3525,5.2,20923.0
12,1990,90377.0,69011,76.4,65104,72,2546,62559,3906,5.7,21367.0
13,1991,91278.0,69168,75.8,64223,70.4,2589,61634,4946,7.2,22110.0
14,1992,92270.0,69964,75.8,64440,69.8,2575,61866,5523,7.9,22306.0
15,1993,93332.0,70404,75.4,65349,70,2478,62871,5055,7.2,22927.0
16,1994,94355.0,70817,75.1,66450,70.4,2554,63896,4367,6.2,23538.0
17,1995,95178.0,71360,75,67377,70.8,2559,64818,3983,5.6,23818.0
18,1996,96206.0,72087,74.9,68207,70.9,2573,65634,3880,5.4,24119.0
19,1997,97715.0,73261,75,69685,71.3,2552,67133,3577,4.9,24454.0
20,1998,98758.0,73959,74.9,70693,71.6,2553,68140,3266,4.4,24799.0
21,1999,99722.0,74512,74.7,71446,71.6,2432,69014,3066,4.1,25210.0
22,2000,101964.0,76280,74.8,73305,71.9,1861,71444,2975,3.9,25684.0
23,2001,103282.0,76886,74.4,73196,70.9,1708,71488,3690,4.8,26396.0
24,2002,104585.0,77500,74.1,72903,69.7,1724,71179,4597,5.9,27085.0
25,2003,106435.0,78238,73.5,73332,68.9,1695,71636,4906,6.3,28197.0
26,2004,107710.0,78980,73.3,74524,69.2,1687,72838,4456,5.6,28730.0
27,2005,109151.0,80033,73.3,75973,69.6,1654,74319,4059,5.1,29119.0
28,2006,110605.0,81255,73.5,77502,70.1,1663,75838,3753,4.6,29350.0
29,2007,112173.0,82136,73.2,78254,69.8,1604,76650,3882,4.7,30036.0
30,2008,113113.0,82520,73,77486,68.5,1650,75836,5033,6.1,30593.0
31,2009,114136.0,82123,72,73670,64.5,1607,72062,8453,10.3,32013.0
32,2010,115174.0,81985,71.2,73359,63.7,1665,71694,8626,10.5,33189.0
33,2011,116317.0,81975,70.5,74290,63.9,1698,72592,7684,9.4,34343.0
34,2012,117343.0,82327,70.2,75555,64.4,1626,73930,6771,8.2,35017.0
35,2013,118555.0,82667,69.7,76353,64.4,1611,74742,6314,7.6,35889.0
36,2014,119748.0,82882,69.2,77692,64.9,1685,76007,5190,6.3,36865.0
37,2015,121101.0,83620,69.1,79131,65.3,1826,77305,4490,5.4,37481.0
38,2016,122497.0,84755,69.2,80568,65.8,1839,78729,4187,4.9,37743.0
39,2017,123275.0,85145,69.1,81402,66,1843,79559,3743,4.4,38130.0
40,2018,124678.0,86096,69.1,82698,66.3,1797,80902,3398,3.9,38582.0
41,2019,125353.0,86687,69.2,83460,66.6,1790,81670,3227,3.7,38667.0
42,2020,125922.0,85204,67.7,78560,62.4,1699,76862,6644,7.8,40718.0
43,2021,126487.0,85505,67.6,80829,63.9,1649,79180,4676,5.5,40983.0
44,2022,128617.0,87421,68,84203,65.5,1643,82560,3218,3.7,41197.0
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,https://www.bls.gov/cps/documentation.htm#comp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
unemployed_men_df.columns

Index(['Sex and year', 'Civilian\nnoninsti-\ntutional\npopulation',
       'Civilian labor force', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Not\nin\nlabor\nforce'],
      dtype='object')

In [4]:
unemployed_men_df = unemployed_men_df.rename(columns = {'Sex and year': 'Year',
                                   'Civilian\nnoninsti-\ntutional\npopulation': 'civilian_noninstitutional_pop',
                                   'Civilian labor force': 'total_labor_force',
                                   'Unnamed: 3': 'total_labor_percent_pop',
                                   'Unnamed: 4': 'total_employed',
                                   'Unnamed: 5': 'employed_percent_pop',
                                   'Unnamed: 6': 'employed_agriculture',
                                   'Unnamed: 7': 'employed_nonagriculture',
                                   'Unnamed: 8': 'total_unemployed',
                                   'Unnamed: 9': 'unemployed_percent_labor_force',
                                   'Not\nin\nlabor\nforce': 'not_in_labor_force'})
unemployed_men_df.head()

,Year,civilian_noninstitutional_pop,total_labor_force,total_labor_percent_pop,total_employed,employed_percent_pop,employed_agriculture,employed_nonagriculture,total_unemployed,unemployed_percent_labor_force,not_in_labor_force
0,NaN,NaN,Total,Percent of\npopulation,Employed,NaN,NaN,NaN,Unemployed,NaN,NaN
1,NaN,NaN,NaN,NaN,Total,Percent of\npopulation,Agri-\nculture,Nonagri-\ncultural\nindustries,Number,Percent of labor force,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Men,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1982,81523.0,62450,76.6,56271,69,2736,53534,6179,9.9,19073.0

In [5]:
unemployed_women_df = pd.read_excel('Resources/unemployment_data_demographics.xlsx', skiprows = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49])
unemployed_women_df

,Women,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1982,90748.0,47755.0,52.6,43256.0,47.7,665.0,42591.0,4499.0,9.4,42993.0
1,1983,91684.0,48503.0,52.9,44047.0,48.0,680.0,43367.0,4457.0,9.2,43181.0
2,1984,92778.0,49709.0,53.6,45915.0,49.5,653.0,45262.0,3794.0,7.6,43068.0
3,1985,93736.0,51050.0,54.5,47259.0,50.4,644.0,46615.0,3791.0,7.4,42686.0
4,1986,94789.0,52413.0,55.3,48706.0,51.4,652.0,48054.0,3707.0,7.1,42376.0
5,1987,95853.0,53658.0,56.0,50334.0,52.5,666.0,49668.0,3324.0,6.2,42195.0
6,1988,96756.0,54742.0,56.6,51696.0,53.4,676.0,51020.0,3046.0,5.6,42014.0
7,1989,97630.0,56030.0,57.4,53027.0,54.3,687.0,52341.0,3003.0,5.4,41601.0
8,1990,98787.0,56829.0,57.5,53689.0,54.3,678.0,53011.0,3140.0,5.5,41957.0
9,1991,99646.0,57178.0,57.4,53496.0,53.7,680.0,52815.0,3683.0,6.4,42468.0
10,1992,100535.0,58141.0,57.8,54052.0,53.8,672.0,53380.0,4090.0,7.0,42394.0
11,1993,101506.0,58795.0,57.9,54910.0,54.1,637.0,54273.0,3885.0,6.6,42711.0
12,1994,102460.0,60239.0,58.8,56610.0,55.3,855.0,55755.0,3629.0,6.0,42221.0
13,1995,103406.0,60944.0,58.9,57523.0,55.6,881.0,56642.0,3421.0,5.6,42462.0
14,1996,104385.0,61857.0,59.3,58501.0,56.0,871.0,57630.0,3356.0,5.4,42528.0
15,1997,105418.0,63036.0,59.8,59873.0,56.8,847.0,59026.0,3162.0,5.0,42382.0
16,1998,106462.0,63714.0,59.8,60771.0,57.1,825.0,59945.0,2944.0,4.6,42748.0
17,1999,108031.0,64855.0,60.0,62042.0,57.4,849.0,61193.0,2814.0,4.3,43175.0
18,2000,110613.0,66303.0,59.9,63586.0,57.5,602.0,62983.0,2717.0,4.1,44310.0
19,2001,111811.0,66848.0,59.8,63737.0,57.0,591.0,63147.0,3111.0,4.7,44962.0
20,2002,112985.0,67363.0,59.6,63582.0,56.3,587.0,62995.0,3781.0,5.6,45621.0
21,2003,114733.0,68272.0,59.5,64404.0,56.1,580.0,63824.0,3868.0,5.7,46461.0
22,2004,115647.0,68421.0,59.2,64728.0,56.0,546.0,64182.0,3694.0,5.4,47225.0
23,2005,116931.0,69288.0,59.3,65757.0,56.2,544.0,65213.0,3531.0,5.1,47643.0
24,2006,118210.0,70173.0,59.4,66925.0,56.6,543.0,66382.0,3247.0,4.6,48037.0
25,2007,119694.0,70988.0,59.3,67792.0,56.6,490.0,67302.0,3196.0,4.5,48707.0
26,2008,120675.0,71767.0,59.5,67876.0,56.2,518.0,67358.0,3891.0,5.4,48908.0
27,2009,121665.0,72019.0,59.2,66208.0,54.4,496.0,65712.0,5811.0,8.1,49646.0
28,2010,122656.0,71904.0,58.6,65705.0,53.6,541.0,65164.0,6199.0,8.6,50752.0
29,2011,123300.0,71642.0,58.1,65579.0,53.2,556.0,65023.0,6063.0,8.5,51658.0
30,2012,125941.0,72648.0,57.7,66914.0,53.1,560.0,66353.0,5734.0,7.9,53293.0
31,2013,127124.0,72722.0,57.2,67577.0,53.2,519.0,67058.0,5146.0,7.1,54401.0
32,2014,128199.0,73039.0,57.0,68613.0,53.5,552.0,68061.0,4426.0,6.1,55159.0
33,2015,129700.0,73510.0,56.7,69703.0,53.7,597.0,69106.0,3807.0,5.2,56190.0
34,2016,131040.0,74432.0,56.8,70868.0,54.1,621.0,70247.0,3564.0,4.8,56608.0
35,2017,131804.0,75175.0,57.0,71936.0,54.6,611.0,71324.0,3239.0,4.3,56629.0
36,2018,133112.0,75978.0,57.1,73063.0,54.9,628.0,72435.0,2916.0,3.8,57134.0
37,2019,133822.0,76852.0,57.4,74078.0,55.4,635.0,73443.0,2774.0,3.6,56970.0
38,2020,134407.0,75538.0,56.2,69234.0,51.5,650.0,68585.0,6304.0,8.3,58869.0
39,2021,134958.0,75699.0,56.1,71752.0,53.2,642.0,71109.0,3948.0,5.2,59259.0
40,2022,135356.0,76866.0,56.8,74089.0,54.7,647.0,73441.0,2778.0,3.6,58490.0
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NOTE: Revisions to population controls and oth...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,https://www.bls.gov/cps/documentation.htm#comp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
unemployed_women_df.columns

Index(['Women', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

In [7]:
unemployed_women_df = unemployed_women_df.rename(columns = {'Women': 'Year',
                                   'Unnamed: 1': 'civilian_noninstitutional_pop',
                                   'Unnamed: 2': 'total_labor_force',
                                   'Unnamed: 3': 'total_labor_percent_pop',
                                   'Unnamed: 4': 'total_employed',
                                   'Unnamed: 5': 'employed_percent_pop',
                                   'Unnamed: 6': 'employed_agriculture',
                                   'Unnamed: 7': 'employed_nonagriculture',
                                   'Unnamed: 8': 'total_unemployed',
                                   'Unnamed: 9': 'unemployed_percent_labor_force',
                                   'Unnamed: 10': 'not_in_labor_force'})
unemployed_women_df.head()

,Year,civilian_noninstitutional_pop,total_labor_force,total_labor_percent_pop,total_employed,employed_percent_pop,employed_agriculture,employed_nonagriculture,total_unemployed,unemployed_percent_labor_force,not_in_labor_force
0,1982,90748.0,47755.0,52.6,43256.0,47.7,665.0,42591.0,4499.0,9.4,42993.0
1,1983,91684.0,48503.0,52.9,44047.0,48.0,680.0,43367.0,4457.0,9.2,43181.0
2,1984,92778.0,49709.0,53.6,45915.0,49.5,653.0,45262.0,3794.0,7.6,43068.0
3,1985,93736.0,51050.0,54.5,47259.0,50.4,644.0,46615.0,3791.0,7.4,42686.0
4,1986,94789.0,52413.0,55.3,48706.0,51.4,652.0,48054.0,3707.0,7.1,42376.0

In [8]:
men_df_cleaned = unemployed_men_df.dropna()
women_df_cleaned = unemployed_women_df.dropna()
men_df_cleaned.head()

,Year,civilian_noninstitutional_pop,total_labor_force,total_labor_percent_pop,total_employed,employed_percent_pop,employed_agriculture,employed_nonagriculture,total_unemployed,unemployed_percent_labor_force,not_in_labor_force
4,1982,81523.0,62450,76.6,56271,69,2736,53534,6179,9.9,19073.0
5,1983,82531.0,63047,76.4,56787,68.8,2704,54083,6260,9.9,19484.0
6,1984,83605.0,63835,76.4,59091,70.7,2668,56423,4744,7.4,19771.0
7,1985,84469.0,64411,76.3,59891,70.9,2535,57356,4521,7,20058.0
8,1986,85798.0,65422,76.3,60892,71,2511,58381,4530,6.9,20376.0

In [9]:
men_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 4 to 44
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            41 non-null     object
 1   civilian_noninstitutional_pop   41 non-null     float64
 2   total_labor_force               41 non-null     object
 3   total_labor_percent_pop         41 non-null     object
 4   total_employed                  41 non-null     object
 5   employed_percent_pop            41 non-null     object
 6   employed_agriculture            41 non-null     object
 7   employed_nonagriculture         41 non-null     object
 8   total_unemployed                41 non-null     object
 9   unemployed_percent_labor_force  41 non-null     object
 10  not_in_labor_force              41 non-null     float64
dtypes: float64(2), object(9)
memory usage: 3.8+ KB

In [10]:
men_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop', 'unemployed_percent_labor_force']] = men_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop', 
                                                                                                                        'unemployed_percent_labor_force']].astype(float)
women_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop', 'unemployed_percent_labor_force']] = women_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop', 
                                                                                                                        'unemployed_percent_labor_force']].astype(float)

C:\Users\steph\AppData\Local\Temp\ipykernel_8764\3755680829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop', 'unemployed_percent_labor_force']] = men_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop',
C:\Users\steph\AppData\Local\Temp\ipykernel_8764\3755680829.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop', 'unemployed_percent_labor_force']] = women_df_cleaned[['total_labor_percent_pop', 'employed_percent_pop',

In [11]:
women_df_cleaned[['civilian_noninstitutional_pop', 'total_labor_force', 'total_employed', 'employed_agriculture', 'employed_nonagriculture', 
                  'total_unemployed', 'not_in_labor_force']] = women_df_cleaned[['civilian_noninstitutional_pop','total_labor_force', 'total_employed', 
                                                                                 'employed_agriculture', 'employed_nonagriculture', 'total_unemployed', 
                                                                                 'not_in_labor_force']].astype(int)
men_df_cleaned[['civilian_noninstitutional_pop','total_labor_force', 'total_employed', 'employed_agriculture', 'employed_nonagriculture', 
                'total_unemployed', 'not_in_labor_force']] = men_df_cleaned[['civilian_noninstitutional_pop','total_labor_force', 'total_employed', 
                                                                             'employed_agriculture', 'employed_nonagriculture', 
                                                                             'total_unemployed', 'not_in_labor_force']].astype(int)
print(women_df_cleaned.info())
print(men_df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            41 non-null     object
 1   civilian_noninstitutional_pop   41 non-null     int32
 2   total_labor_force               41 non-null     int32
 3   total_labor_percent_pop         41 non-null     float64
 4   total_employed                  41 non-null     int32
 5   employed_percent_pop            41 non-null     float64
 6   employed_agriculture            41 non-null     int32
 7   employed_nonagriculture         41 non-null     int32
 8   total_unemployed                41 non-null     int32
 9   unemployed_percent_labor_force  41 non-null     float64
 10  not_in_labor_force              41 non-null     int32
dtypes: float64(3), int32(7), object(1)
memory usage: 2.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 4 to 44
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Year                            41 non-null     object
 1   civilian_noninstitutional_pop   41 non-null     int32
 2   total_labor_force               41 non-null     int32
 3   total_labor_percent_pop         41 non-null     float64
 4   total_employed                  41 non-null     int32
 5   employed_percent_pop            41 non-null     float64
 6   employed_agriculture            41 non-null     int32
 7   employed_nonagriculture         41 non-null     int32
 8   total_unemployed                41 non-null     int32
 9   unemployed_percent_labor_force  41 non-null     float64
 10  not_in_labor_force              41 non-null     int32
dtypes: float64(3), int32(7), object(1)
memory usage: 2.7+ KB
None

C:\Users\steph\AppData\Local\Temp\ipykernel_8764\1890339021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  women_df_cleaned[['civilian_noninstitutional_pop', 'total_labor_force', 'total_employed', 'employed_agriculture', 'employed_nonagriculture',
C:\Users\steph\AppData\Local\Temp\ipykernel_8764\1890339021.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  men_df_cleaned[['civilian_noninstitutional_pop','total_labor_force', 'total_employed', 'employed_agriculture', 'employed_nonagriculture',

In [12]:
men_df_cleaned.to_csv("Resources/SQL_Tables/men_employment_data.csv", index=False)
women_df_cleaned.to_csv("Resources/SQL_Tables/women_employment_data.csv", index=False)