In [1]:
import os
import psycopg2
from flask import Flask, render_template
import pandas as pd
app = Flask(__name__)

In [2]:
conn = psycopg2.connect(database="flask_df", user="flask_df_user", password="DF4LP1UcZJt3AN4cUW9hrbfp2p4FtWL3", host="dpg-cgtiqjl269vbmeuj26cg-a.oregon-postgres.render.com", port=5432)

# Open a cursor to perform database operations
cur = conn.cursor()

In [3]:
cur.execute('DROP TABLE IF EXISTS ethnicity;')

In [4]:
#Execute a command: this creates a new table
cur.execute('CREATE TABLE ethnicity (dates varchar PRIMARY KEY,'
                                    'white float NOT NULL,'
                                    'black float NOT NULL,'
                                    'hispanic float NOT NULL,'
                                    'asian float NOT NULL);'
                                    )

In [5]:
conn.commit()
cur.close()
conn.close()

In [7]:
conn = psycopg2.connect(database="flask_df", user="flask_df_user", password="DF4LP1UcZJt3AN4cUW9hrbfp2p4FtWL3", host="dpg-cgtiqjl269vbmeuj26cg-a.oregon-postgres.render.com", port="5432")

# Open a cursor to perform database operations
cur = conn.cursor()

In [9]:
cur.execute('SELECT * FROM unemployed;')
books = cur.fetchall()
books

[('Construction', 762, 624, 558, 559, 494, 435, 838, 640),
 ('Manufacturing', 754, 677, 667, 563, 517, 468, 1026, 642),
 ('Durable goods', 454, 410, 412, 360, 295, 274, 638, 387),
 ('Nonmetallic mineral products', 16, 17, 20, 19, 15, 21, 18, 25),
 ('Primary metals and fabricated metal products',
  68,
  74,
  67,
  61,
  46,
  43,
  111,
  56),
 ('Machinery manufacturing', 65, 49, 49, 37, 27, 27, 68, 37),
 ('Computers and electronic products', 69, 56, 50, 38, 41, 20, 45, 22),
 ('Electrical equipment and appliances', 19, 20, 16, 12, 18, 7, 22, 20),
 ('Transportation equipment', 86, 81, 100, 89, 77, 73, 201, 113),
 ('Wood products', 23, 19, 30, 18, 8, 9, 19, 17),
 ('Furniture and related products', 24, 20, 16, 13, 12, 18, 29, 20),
 ('Miscellaneous manufacturing', 85, 74, 65, 74, 50, 56, 125, 78),
 ('Nondurable goods', 300, 267, 255, 203, 222, 194, 389, 255),
 ('Food manufacturing', 124, 103, 99, 91, 90, 92, 132, 95),
 ('Beverage and tobacco products', 10, 9, 12, 9, 13, 4, 17, 14),
 ('Textiles, apparel, and leather', 52, 43, 28, 23, 31, 22, 52, 30),
 ('Paper manufacturing and printing', 38, 41, 34, 20, 19, 22, 58, 36),
 ('Petroleum and coal products', 4, 5, 15, 13, 9, 8, 25, 20),
 ('Chemicals', 48, 43, 44, 36, 42, 27, 66, 39),
 ('Plastics and rubber products', 24, 22, 23, 12, 18, 20, 39, 22),
 ('Wholesale and retail trade', 1260, 1135, 1009, 942, 881, 803, 1648, 1171),
 ('Wholesale trade', 161, 136, 129, 116, 112, 97, 192, 150),
 ('Retail trade', 1099, 999, 880, 826, 768, 706, 1456, 1021),
 ('Transportation and utilities', 357, 275, 278, 271, 236, 256, 688, 501),
 ('Transportation and warehousing', 336, 254, 246, 244, 218, 237, 662, 470),
 ('Utilities', 20, 21, 32, 27, 19, 19, 26, 31),
 ('Information(3)', 153, 108, 123, 120, 99, 89, 186, 137),
 ('Publishing, except Internet', 37, 22, 28, 28, 23, 21, 27, 16),
 ('Motion pictures and sound recording industries',
  30,
  22,
  31,
  29,
  26,
  31,
  92,
  62),
 ('Radio and television broadcasting and cable subscription programming',
  37,
  20,
  26,
  17,
  15,
  13,
  12,
  17),
 ('Telecommunications', 39, 29, 29, 40, 24, 17, 37, 30),
 ('Libraries, archives, and other information services',
  2,
  3,
  2,
  2,
  3,
  3,
  6,
  4),
 ('Financial activities', 373, 247, 266, 240, 215, 216, 388, 290),
 ('Finance and insurance', 259, 160, 168, 163, 139, 145, 218, 183),
 ('Finance', 179, 105, 103, 107, 92, 91, 131, 121),
 ('Insurance', 80, 55, 65, 56, 46, 53, 86, 62),
 ('Real estate and rental and leasing', 114, 86, 97, 77, 77, 71, 170, 107),
 ('Real estate', 92, 64, 78, 57, 60, 59, 131, 88),
 ('Rental and leasing services', 22, 23, 20, 20, 17, 12, 39, 19),
 ('Professional and business services',
  1083,
  894,
  842,
  775,
  671,
  647,
  1176,
  926),
 ('Professional and technical services',
  383,
  311,
  283,
  305,
  256,
  273,
  536,
  385),
 ('Management, administrative, and waste services(3)',
  700,
  583,
  559,
  470,
  415,
  374,
  639,
  540),
 ('Administrative and support services',
  660,
  548,
  533,
  444,
  396,
  355,
  606,
  513),
 ('Waste management and remediation services', 26, 28, 19, 18, 15, 11, 29, 24),
 ('Education and health services', 935, 823, 772, 714, 638, 621, 1394, 859),
 ('Educational services', 230, 213, 195, 171, 174, 180, 405, 212),
 ('Health care and social assistance', 705, 610, 577, 543, 464, 441, 988, 647),
 ('Hospitals', 123, 110, 98, 98, 78, 86, 164, 128),
 ('Health services, except hospitals', 421, 363, 351, 314, 276, 248, 542, 374),
 ('Social assistance', 161, 137, 129, 130, 109, 107, 282, 145),
 ('Leisure and hospitality', 1168, 1092, 949, 856, 791, 746, 2544, 1306),
 ('Arts, entertainment, and recreation',
  212,
  191,
  165,
  156,
  150,
  141,
  586,
  241),
 ('Accommodation and food services', 956, 902, 784, 700, 640, 605, 1958, 1065),
 ('Accommodation', 127, 120, 107, 90, 80, 72, 342, 178),
 ('Food services and drinking places',
  830,
  782,
  677,
  610,
  560,
  533,
  1616,
  886),
 ('Other services', 368, 340, 293, 251, 229, 217, 626, 345),
 ('Other services, except private households',
  281,
  261,
  226,
  207,
  191,
  171,
  529,
  277),
 ('Repair and maintenance', 104, 119, 85, 80, 65, 59, 138, 94),
 ('Personal and laundry services', 108, 82, 69, 68, 57, 62, 292, 117),
 ('Membership associations and organizations', 69, 59, 71, 59, 68, 50, 99, 66),
 ('Private households', 88, 80, 67, 44, 39, 46, 97, 68),
 ('Agricultural and related private wage and salary workers(2)',
  146,
  155,
  139,
  122,
  124,
  129,
  135,
  121),
 ('Government workers', 678, 573, 582, 527, 505, 496, 1045, 571),
 ('Self-employed workers, unincorporated, and unpaid family workers',
  440,
  389,
  383,
  319,
  285,
  263,
  643,
  524),
 ('No previous work experience', 1086, 879, 823, 690, 602, 591, 526, 518)]

In [ ]:
for b in books